@import "bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "bower_components/neat/app/assets/stylesheets/neat";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

body
{
    font-size: 18px;
    font-family: "Open Sans";
    
    background-image: url("./background.png");
}

.content
{
    margin: auto;
    min-height: 100%;
    max-width: 480px;
    
    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-bottom: none;
    border-top: none;
    
    background-color: #FFF;
        
    header
    {
        padding: 0.5em;
        color: #046380;
        
        h1
        {
            img
            {
                width: 100%;
            }
        }
        
        h2
        {
            font-size: 1em;
            text-align: center;
        }
    }
    
    .video
    {
        height: 0;
        position: relative;
        padding-bottom: 56.25%;
        
        iframe
        {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    
    .about
    {
        padding: 1em;
        
        p
        {
            text-indent: 2em;
            text-align: justify;
        }
    }
    
    .facts
    {
        padding: 1em;
        @include outer-container;
        
        .fact
        {
            @include span-columns(4 of 12);
            
            text-align: center;
            
            .oi
            {
                font-size: 2em;
            }
            
            h3
            {
                font-family: 'Bitter';
            }
        }
    }
    
    .contact
    {
        width: 75%;
        margin: auto;
        padding-bottom: 1em;
        
        text-align: center;
    }
}

@media(max-width: 720px)
{
    .burger-contain
    {
        opacity:0;
    }
}

.burger-nav
{
    position: fixed;
}
